<form>
  <div class="form-group">
    <input ng-show="listado.nombre" ng-model="listado.search.fullName "type="text" class="form-control" placeholder="Busca por nombre">
    <input ng-show="listado.departamento" ng-model="listado.search.department "type="text" class="form-control" placeholder="Busca por departamento">
    <div class="radio">
      <label>
        <input type="radio" name="options" ng-click="listado.cambiarBusqueda('nombre')" checked>
        Buscar por nombre
      </label>
      <br>
      <label>
        <input type="radio" name="options" ng-click="listado.cambiarBusqueda('departamento')">
        Buscar por departamento
      </label>
    </div>

  </div>
</form>

<hr>

<div class="media-list">

  <div ng-repeat="empleado in listado.empleados | filter: listado.search">
    <empleado-item index="empleado.id"
                   picture="empleado.pic"
                   full-name="empleado.fullName"
                   title="empleado.title"
                   department="empleado.department">
    </empleado-item>
  </div>

</div>
