<div class="media-list">

  <div class="media" ng-repeat="empleado in listado.empleados">
    <div class="media-left">
      <a ng-href="/empleado/{{ empleado.id }}">
        <img ng-src="http://taller-angular.carlosazaustre.es/asset/{{ empleado.pic }}" width="80px" class="media-object">
      </a>
    </div>
    <div class="media-body">
      <a ng-href="/empleado/{{ empleado.id }}">
        <h4 class="media-heading">{{ empleado.fullName }}</h4>
        <p>
          {{ empleado.title }}
          <span class="label label-info">{{ empleado.department }}</span></p>
        </p>
      </a>
    </div>
    <hr>
  </div>

</div>
