<form>
  <div class="form-group">
    <input ng-show="listado.nombre" ng-model="listado.search.fullName "type="text" class="form-control" placeholder="Busca por nombre">
    <input ng-show="listado.departamento" ng-model="listado.search.department "type="text" class="form-control" placeholder="Busca por departamento">
    <div class="radio">
      <label>
        <input type="radio" name="options" ng-click="listado.cambiarBusqueda('nombre')" checked>
        Buscar por nombre
      </label>
      <br>
      <label>
        <input type="radio" name="options" ng-click="listado.cambiarBusqueda('departamento')">
        Buscar por departamento
      </label>
    </div>

  </div>
</form>

<div class="media-list">

  <div class="media" ng-repeat="empleado in listado.empleados | filter: listado.search">
    <div class="media-left">
      <a ng-href="/empleado/{{ empleado.id }}">
        <img ng-src="http://taller-angular.carlosazaustre.es/asset/{{ empleado.pic }}" width="80px" class="media-object">
      </a>
    </div>
    <div class="media-body">
      <a ng-href="/empleado/{{ empleado.id }}">
        <h4 class="media-heading">{{ empleado.fullName }}</h4>
        <p>
          {{ empleado.title }}
          <span class="label label-info">{{ empleado.department }}</span></p>
        </p>
      </a>
    </div>
    <hr>
  </div>

</div>
